/build/
/dist/
__pycache__/

# Sphinx docs
docs/_build

# Build artifacts
*.so
*.egg-info/

# cython-generated
python/hfst_optimized_lookup/_hfst_optimized_lookup.cpp

# executable
hfst-optimized-lookup

*.hfstol

